<div class="col-md-12 kamper well"><h4>Kamper</h4>
<table  border="1" >
  <tr>
    <td class="col-md-1">Kamp</td>
    <td class="col-md-1">Hjemmelag</td>
    <td class="col-md-1">Bortelag</td>
    <td class="col-md-1">Score</td>
  </tr>
  <tr *ngFor="let  kamp of kamper">
    <td class="col-md-1">{{kamp.kampId}}</td>
    <td class="col-md-1">{{kamp.kampHjemmeLag}}</td>
    <td class="col-md-1">{{kamp.kampBorteLag}}</td>
    <td class="col-md-1">{{kamp.kampHjemScore}} - {{kamp.kampBorteScore}}</td>
  </tr>
</table>
  <span></span>
  <span></span>

  <span></span>
  <span></span>
</div>
